/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.page {
  min-height: 100vh;
  background-color: #f1f6f9;
}

.main-heading {
  margin: 20px 20px 40px;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  height: 3px;
}

.main-heading::before {
  background-color: white;
  width: 120px;
}

.main-heading::after {
  background-color: black;
  width: 40px;
}

/* End Global Rules */

/* Start Sidebar */
.sidebar {
  width: 58px;
  box-shadow: 0 0 10px 0 #ddd;
  padding: 10px;
}

.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.sidebar ul li > .active,
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}

.sidebar ul li > .active {
  font-weight: bold;
}

.sidebar > h3 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .sidebar > h3 {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 250px;
    padding: 20px;
  }

  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }

  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border: 4px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .sidebar ul li a span {
    margin-left: 10px;
  }
}

/* End Sidebar */

/* Start Content */
/* Start Header */
.content {
  overflow: hidden;
}

.content .header .search::before {
  content: "\f002";
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 14px;
  font-weight: 600;
  color: var(--grey-color);
  transform: translateY(-50%);
}

.content .header .search input {
  width: 160px;
  margin-left: 5px;
  border: 1px solid #ccc;
  padding-left: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.content .header .search input:focus {
  width: 200px;
}

.content .header .search input::placeholder {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.content .header .search input:focus::placeholder {
  opacity: 0;
}

.content .header .icons img {
  margin-left: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.content .header .icons img:hover {
  outline: 3px solid #fef;
}

.content .header .icons span {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 5px;
}

.content .header .icons span:hover {
  background-color: #eee;
}

.content .header .icons span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* End Header */
/* Start Welcome Widget */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.wrapper .welcome {
  overflow: hidden;
}

.wrapper .welcome > img {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wrapper .welcome .intro > img {
  width: 200px;
  margin-bottom: -10px;
}

.wrapper .welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.wrapper .welcome .body > div {
  flex: 1;
}

.wrapper .welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.wrapper .welcome .visit:hover {
  background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .wrapper .welcome .intro {
    padding-bottom: 30px;
  }

  .wrapper .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .wrapper .welcome > img {
    margin-left: 0;
  }
}

/* End Welcome Widget */

/* Start Quick Draft */
.draft form textarea {
  resize: none;
  min-height: 180px;
}

.draft form input[type="submit"] {
  margin-left: auto;
}

/* End Quick Draft */

/* Start Yearly Targets */
.targets .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.targets .details {
  flex: 1;
}

.blue .icon,
.blue .progress {
  background-color: rgba(0, 119, 255, 0.2);
}

.orange .icon,
.orange .progress {
  background-color: rgba(245, 159, 11, 0.2);
}

.green .icon,
.green .progress {
  background-color: rgba(34, 197, 94, 0.2);
}

.targets .progress {
  height: 4px;
}

.targets .progress > span {
  top: 0;
  left: 0;
  height: 100%;
}

.targets .progress > span span {
  bottom: 16px;
  right: -16px;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.targets .progress > span span::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.targets .progress > .blue span::after {
  border-top-color: var(--blue-color);
}

.targets .progress > .orange span::after {
  border-top-color: var(--orange-color);
}

.targets .progress > .green span::after {
  border-top-color: var(--green-color);
}

/* End Yearly Targets */
/* Start Stats */
.stats .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .stats .box {
    width: 100%;
  }
}

/* End Stats */
/* Start Latest News */
.news .news-row:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.news .news-row img {
  width: 100px;
  margin-right: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.news .news-row .info {
  flex: 1;
}

.news .news-row .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .news .news-row {
    display: block;
  }

  .news .news-row > span {
    width: fit-content;
    margin: 10px auto;
  }
}

/* End Latest News */
/* Start Latest Tasks */
.task-row:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.task-row i {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.task-row i:hover {
  color: red;
}

.tasks .finished .info {
  text-decoration: line-through;
  opacity: 0.3;
}

/* End Latest Tasks */
/* Start Top Search Items */
/* End Top Search Items */
/* Start Latest Uploads */
.uploads-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.uploads-row img {
  width: 40px;
  margin-right: 10px;
}

.uploads-row .info {
  flex: 1;
}

/* End Latest Uploads */
/* Start Last Project Progress */
.project-progress img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  opacity: 0.2;
}

.project-progress ul::after {
  content: "";
  position: absolute;
  top: 0;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}

@media (max-width: 441px) {
  .project-progress ul::after {
    height: calc(100% - 10px);
  }
}

.project-progress li::before {
  content: "";
  display: block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.project-progress .done::before {
  background-color: var(--blue-color);
}

.project-progress .flashing::before {
  animation: flashing 1s infinite alternate;
  -webkit-animation: flashing 1s infinite alternate;
}

/* End Last Project Progress */
/* Start Reminders */
.reminders ul li .circle {
  width: 15px;
  height: 15px;
}

.reminders ul li .blue {
  border-left: 2px solid var(--blue-color);
}

.reminders ul li .green {
  border-left: 2px solid var(--green-color);
}

.reminders ul li .orange {
  border-left: 2px solid var(--orange-color);
}

.reminders ul li .red {
  border-left: 2px solid var(--red-color);
}

/* End Reminders */
/* Start Latest Posts */
.latest-posts .head img {
  width: 50px;
}

.latest-posts .post-content {
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}

/* End Latest Posts */
/* Start Social Media Stats */
.social .box {
  padding-left: 70px;
}

.social .twitter {
  background-color: rgb(29, 161, 242, 0.2);
  color: #1da1f2;
}

.social .facebook {
  background-color: rgb(24, 118, 242, 0.2);
  color: #1877f2;
}

.social .youtube {
  background-color: rgb(255, 0, 0, 0.2);
  color: #ff0000;
}

.social .linkedin {
  background-color: rgb(10, 102, 194, 0.2);
  color: #0a66c2;
}

.social .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.social .box i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social .twitter i,
.social .twitter a {
  background-color: #1da1f2;
}

.social .facebook i,
.social .facebook a {
  background-color: #1877f2;
}

.social .youtube i,
.social .youtube a {
  background-color: #ff0000;
}

.social .linkedin i,
.social .linkedin a {
  background-color: #0a66c2;
}

/* End Social Media Stats */
/* Start Projects Table */
.projects-table .responsive-table {
  overflow-x: auto;
}

.projects-table table {
  min-width: 1000px;
  border-spacing: 0;
}

.projects-table table thead {
  background-color: #eee;
  font-weight: bold;
}

.projects-table tbody tr {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.projects-table tbody tr:hover {
  background-color: #faf7f7;
}

.projects-table table td {
  padding: 15px;
}

.projects-table td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee
}

.projects-table td:last-child {
  border-right: 1px solid #eee;
}

.projects-table img {
  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects-table img:not(:first-child) {
  margin-left: -20px;
}

/* End Projects Table */
/* End Content */
/* Start Toggle Switch */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  width: 78px;
  height: 32px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
  content: "\f00d";
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  color: #aaa;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}

/* End Toggle Switch */
/* Start Settings Page */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width:767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}

textarea {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}

.settings-page :disabled {
  cursor: no-drop;
  color: #bbb;
  background-color: #f0f4f8;
}

.settings-page input[type="email"] {
  display: inline-flex;
  width: calc(100% - 80px);
}

.settings-page .sec-box {
  padding-bottom: 15px;
}

.settings-page .sec-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.settings-page .social i,
.settings-page .social input {
  background-color: #f6f6f6;
  height: 40px;
  border: 1px solid #ddd;
}

.settings-page .social i {
  width: 40px;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.settings-page .social input {
  padding-left: 10px;
  border-left: none;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}

.settings-page .social div:first-of-type:focus-within i {
  color: #1da1f2;
}

.settings-page .social div:nth-of-type(2):focus-within i {
  color: #1877f2;
}

.settings-page .social div:nth-of-type(3):focus-within i {
  color: #0a66c2;
}

.settings-page .social div:last-of-type:focus-within i {
  color: #f00;
}

.settings-page .control input {
  -webkit-appearance: none;
  appearance: none;
}

.settings-page .control label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.settings-page .control label::before,
.settings-page .control label::after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.settings-page .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}

.settings-page .control label:hover::before {
  border-color: var(--blue-color);
}

.settings-page .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--blue-color);
  font-size: 12px;
  transition: 0.3s;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.settings-page .control input:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.settings-page .backup .date label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.settings-page .backup input {
  -webkit-appearance: none;
  appearance: none;
}

.settings-page .backup .date label::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: white;
  border: 2px solid var(--grey-color);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.settings-page .backup .date label::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.settings-page .backup .date input:checked + label::before {
  border-color: var(--blue-color);
}

.settings-page .backup .date input:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.settings-page .backup label {
  cursor: pointer;
}

.settings-page .backup .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

@media (max-width:767px) {
  .settings-page .backup .servers {
    flex-wrap: wrap;
  }
}

.settings-page .backup .server {
  border: 2px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.settings-page .backup input:checked + .server {
  border-color: var(--blue-color);
}

.settings-page .backup input:checked + .server {
  color: var(--blue-color);
}

/* End Settings Page */
/* Start Profile Page */
@media (max-width:767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}

.profile-page .avatar {
  width: 300px;
}

@media (min-width:768px) {
  .profile-page .avatar {
    border-right: 1px solid #eee;
  }
}

.profile-page .avatar > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-page .avatar .progress {
  height: 6px;
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.profile-page .avatar .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue-color);
}

.profile-page .info .box {
  flex-wrap: wrap;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.profile-page .info .box:hover {
  background-color: #f9f9f9;
}

.profile-page .info .box:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.profile-page .info .box h4 {
  font-weight: normal;
}

.profile-page .info .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}

.profile-page .info .box > div .toggle-switch {
  height: 20px;
}

.profile-page .info .box > div .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}

.profile-page .info .box > div .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}

@media (max-width: 767px) {
  .profile-page .info .box > div .toggle-switch {
    margin: auto;
  }
}

.profile-page .data {
  flex-wrap: wrap;
}

.profile-page .data .skills {
  flex-grow: 1;
}

.profile-page .skills ul li {
  padding: 15px 0;
}

.profile-page .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.profile-page .skills ul li span {
  display: inline-flex;
}

.profile-page .data .activities {
  flex-grow: 2;
}


.profile-page .data .activities .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-page .data .activities .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 768px) {
  .profile-page .data .activities .activity .date {
    margin-left: auto;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .profile-page .data .activities {
    margin-top: 0;
  }

  .profile-page .data .activities .activity {
    flex-direction: column;
  }

  .profile-page .data .activities .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .profile-page .data .activities .activity .date {
    margin-top: 15px;
  }
}

/* End Profile Page */
/* Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.projects-page .project > span {
  position: absolute;
  right: 10px;
  top: 10px;
}

.projects-page h4 {
  font-weight: normal;
}

.projects-page .team {
  min-height: 80px;
  position: relative;
}

.projects-page .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}

.projects-page .team a:hover {
  z-index: 1000;
}

.projects-page .team a:nth-child(2) {
  left: 25px;
}

.projects-page .team a:nth-child(3) {
  left: 50px;
}

.projects-page .team a:nth-child(4) {
  left: 75px;
}

.projects-page .team a:nth-child(5) {
  left: 100px;
}

.projects-page .team a img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects-page .job {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.projects-page .job span {
  margin-left: 5px;
  width: fit-content;
}

.projects-page .info {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.projects-page .info .progress {
  width: 260px;
  height: 8px;
  position: relative;
  overflow: hidden;
}

.projects-page .info .progress span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@media (max-width:767px) {
  .projects-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .projects-page .job {
    flex-direction: column;
  }

  .projects-page .job span:not(:last-child) {
    margin-bottom: 15px;
  }

  .projects-page .info {
    flex-direction: column;
  }

  .projects-page .info .salary {
    margin-top: 15px;
  }
}

/* End Projects Page */
/* Start Courses Page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.courses-page .course {
  overflow: hidden;
}

.courses-page .course .cover {
  width: 100%;
}

.courses-page .course .instructor {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.courses-page .course .description > p {
  line-height: 1.6;
}

.courses-page .course .info {
  border-top: 1px solid #eee;
}


.courses-page .course .info .c-info {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* End Courses Page */
/* Start Friends Page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.friends-page .friend .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}

.friends-page .friend .contact i {
  background-color: #eee;
  color: #666;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.friends-page .friend .contact i:hover {
  color: white;
  background-color: var(--blue-color);
}

.friends-page .friend div > img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.friends-page .friend .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
  padding: 15px 0;
}

.friends-page .friend .icons i {
  margin-right: 5px;
}

.friends-page .friend .icons .vip {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 40px;
  opacity: 0.2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* End Friends Page */
/* Start Files Page */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.files-page .files-stats {
  min-width: 260px;
}

.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}

.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}

.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}

.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}

.files-page .files-stats .size {
  margin-left: auto;
}

.files-page .files-stats .upload {
  padding: 10px 15px;
  margin: 15px auto 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}

.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
  -webkit-animation: go-up 0.8s infinite;
}

.files-page .files-stats .upload i {
  margin-right: 10px;
}

.files-page .files-content {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex: 1;
}

.files-page .files-content .file .icons img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.files-page .files-content .file .info {
  border-top: 1px solid #eee;
}

.files-page .files-content .file:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}

/* End Files Page */
/* Start Plans Page */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.plans-page .plan .head {
  border: 3px solid white;
  outline: 3px solid transparent;
}

.plans-page .plan .green {
  outline-color: var(--green-color);
}

.plans-page .plan .blue {
  outline-color: var(--blue-color);
}

.plans-page .plan .orange {
  outline-color: var(--orange-color);
}

.plans-page .plan .head .price {
  position: relative;
  margin: auto;
  font-size: 40px;
  width: fit-content;
}

.plans-page .plan .head .price span {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 25px;
}

.plans-page .plan ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.plans-page .plan ul li i:first-child {
  font-size: 18px;
}

.plans-page .plan ul li .help {
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .plans-page .plan a {
    margin: auto;
  }
}

/* End Plans Page */
/* Start Animation */
@keyframes flashing {
  0% {
    background-color: var(--blue-color);
  }

  100% {
    background-color: white;
  }
}

@keyframes go-up {

  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

/* End Animation */